<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VRCHapticsLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <VRCHapticsLite.Properties.Settings>
      <setting name="Head_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Head_Power" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Head_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Head_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Head_Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Head_Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Vest_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Vest_Power" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Vest_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Vest_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Vest_Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Vest_Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftArm_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LeftArm_Power" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftArm_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftArm_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftArm_Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftArm_Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightArm_Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RightArm_Power" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightArm_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightArm_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightArm_Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightArm_Height" serializeAs="String">
        <value>0</value>
      </setting>
    </VRCHapticsLite.Properties.Settings>
  </userSettings>
</configuration>